.container {
  width: 100%;
  
  a {
    width: 100%;
    height: 3.7rem;
    display: flex;
    align-items: center;
    padding-left: 3rem; 
    gap: 0.5rem;
    color: var(--purple-500);
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    transition: all 0.1s;
    transition: font-size 0.4s;
  
    &:hover {
      color: var(--gray-700);
      background: var(--purple-500);
      font-size: 1.3rem;
    }
  }
}